SECRET_KEY=d1)53(fbn$ajhgcmuq0*a#@!i5ar=0du11c^4r&=zg7kca%-5j

DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost

DATABASE_NAME=tech_world_db
DATABASE_USER=your-database-user
DATABASE_PASSWORD=844966
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306

FRONTEND_URL=http://localhost:5173