# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Django
db.sqlite3

# Environment files
.env
.env.*
!.env.example

# Media
media/

# Node
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# OS
Thumbs.db
.DS_Store

# Logs
*.log
npm-debug.log*
# Django collected static
staticfiles/
